/* Copyright 2020 Krzysztof Piwoński <piwonski.kris@gmail.com> */
/*  This file is a part of COVID-19 chart.

    COVID-19 chart is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    COVID-19 chart is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. */
body {margin: 0; display: flex; flex-direction: row; flex-wrap: wrap;}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 4px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
#mode {float:right}
#map {width: 900px;}
#map #date {vertical-align: middle;}
#map svg{width: 100%; height:500px; margin:0px auto; background: black;}
#map #map-menu {height: 34px; padding: 8px; box-sizing: border-box; display: inline-block;}
#chart {margin-left: 10px; width: 890px;}
#chart svg{width: 100%; height:800px; margin:0px auto;}
#chart #search-country {width: 300px; box-sizing: border-box;}
#chart #result {position: absolute; background-color: white; border: #CECECE solid 1px; width: 300px;}
#chart #result ul {list-style: none; padding: 0; margin: 0;}
#chart #result ul li {padding: 8px; cursor: pointer;}
#chart #result ul li:hover {background-color: #CECECE;}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  height: 25px;
  border-top: 1px solid #cecece;
  box-shadow: 0 -1px 5px 0 #cecece;
  background-color: white;
  font-size: 0.9em;
}

#footer .left {
  margin-left: 10px;
}

#footer .right {
  float:right;
  margin-right: 10px;
}
