/* Copyright 2020 Krzysztof Piwoński <piwonski.kris@gmail.com> */
/*  This file is a part of COVID-19 chart.

    COVID-19 chart is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    COVID-19 chart is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>. */
body {margin: 0; margin-bottom:  50px; font-family: sans-serif;}

h1 {margin: 30px 18px;}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 4px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
#inner { display: flex; flex-direction: row; flex-wrap: wrap; position:relative;}
#right-menu {float:right; padding: 15px 0;}
#map {width: 900px;}
#map #date {vertical-align: middle;}
#map svg{width: 100%; height:500px; margin:0px auto; background: black;}
#map #map-menu {height: 60px; padding: 18px 19px; box-sizing: border-box; display: inline-block;}
#chart {margin-left: 10px; width: 890px;}
#chart svg{width: 100%; height:700px; margin:0px auto;}
#chart #chart-menu {height:55px; padding-top: 15px; box-sizing: border-box;}
#chart #chart-menu input {height: 30px;}
#chart #search-country {width: 300px; box-sizing: border-box;}
#chart #result {position: absolute; background-color: white; border: #CECECE solid 1px; width: 300px;}
#chart #result ul {list-style: none; padding: 0; margin: 0;}
#chart #result ul li {padding: 8px; cursor: pointer;}
#chart #result ul li:hover {background-color: #CECECE;}

#map-outer {position:relative;}
#map-outer a { position:absolute; left: 10px; bottom: 10px; color:white; text-decoration: none; border: 1px solid white; padding: 5px; text-transform: uppercase; font-size: 14px;}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  height: 25px;
  border-top: 1px solid #cecece;
  box-shadow: 0 -1px 5px 0 #cecece;
  background-color: white;
  font-size: 0.9em;
}

#footer .left {
  margin-left: 10px;
}

#footer .right {
  float:right;
  margin-right: 10px;
}
